
header{
    border-radius: 0px 0px 15px 15px;
    padding: 1rem;
    background-color: aquamarine;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}
.Rule_of_Thirds{
    grid-column: 0/1;
    grid-row: 1;
    background-color: chartreuse;
    
}

.White_space_and_clean_design{
    grid-column: 1/2;
    grid-row: 1;
    background-color: darkcyan;
}

.PARCProximity{
    background-color: gray;
    grid-template-columns: 2/3;
    grid-row: 1;
}